extends layout

block slides
	section(data-background="#007777")
		img(src="images/salaam.png").freeze
	section
		h1(style='font-family:"Mv Eamaan XP","MV Faseyha";') ރައްޔިތުންގެ މަޖިލިސް 
	section
		h3 ސުލްޠާން މުޙައްމަދު ޝަމްސުއްދީން
		img(src="images/Sultan_Shamsuddin_III.png").freeze
	section
		h3 ފުރަތަމަ ޤާނޫނު އަސާސީ 
		img(src="images/1st_const.png").freeze
	section
		h3 ފުރަތަމަ ޤާނޫނު އަސާސީ ފާސްކުރުން
		img(src="images/constitution_day.jpg").freeze
	section
		h1 1932
		img(src="images/1932.png").freeze
	section
		img(src="images/early_majlis_meeting.jpg").freeze

