extends layout

block slides
	section(data-background="#007777")
		img(src="images/salaam.png").freeze
	section
		h1(style='font-family:"Mv Eamaan XP","MV Faseyha";') ޒުވާނުންގެ ހަރަކާތްތަކަށް 300 މިލިޔަނަށްވުރެ ކުޑަނޫން ބަޖެޓެއް ހިމަނާނެ

