extends layout

block slides
	section(data-background="#007777")
		img(src="images/salaam.png").freeze
	section
		h1(style='font-family:"Mv Eamaan XP","MV Faseyha";') ރައްޔިތުންގެ މަޖިލިސް 
	section
		h3 ސުލްޠާން މުޙައްމަދު ޝަމްސުއްދީން
		img(src="images/Sultan_Shamsuddin_III.png").freeze
	section
		h3 ފުރަތަމަ ޤާނޫނު އަސާސީ 
		img(src="images/1st_const.png").freeze
	section
		h3 ފުރަތަމަ ޤާނޫނު އަސާސީ ފާސްކުރުން
		img(src="images/constitution_day.jpg").freeze
	section
		h1 1932
		img(src="images/1932.png").freeze
	section
		img(src="images/early_majlis_meeting.jpg").freeze
	section
		h1 ފުރަތަމަ ޤާނޫނު އަސާސީގެ ހިތި ނިމުން
	section
		h1 1934
		h1 ދެވަނަ ޤާނޫނު އަސާސީ
	section
		h1 1940
		h1 ތިންވަނަ ޤާނޫނު އަސާސީ
	section
		h3 ދެވަނަ ބޮޑުހަނގުރާމައިގެ އަސަރު
		h3 ޤާނޫނު އަސާސީ ހުއްޓުން
		img(src="images/worldwar.jpg").freeze
	section
		h1 1942
		h1 ހަތަރުވަނަ ޤާނޫނު އަސާސީ
	section
		h3 ސުލްޠާން ޙަސަން ނޫރައްދީން
		img(src="images/nooradeen.jpg").freeze
	section
		h1 1953
		h1 ޒަމާނީ ދުނިޔެއަށް ތަސައްވަރެއް
	section
		h1 ފުރަތަމަ ޖުމްހޫރިއްޔާ
		img(src="images/1954flag.png").freeze
	section
		h3 އަލްއަމީރު މުހައްމަދު އަމީން ދޮށިމޭނާ ކިލެގެފާނު
		img(src="images/amin.jpg").freeze
	section
		h1 1954-1967
	section
		img(src="images/zamaanee.jpg").freeze
	section
		img(src="images/airport.jpg").freeze
	section(data-background="#000080")
		h1 1998
		h1 ނޫ ޤާނޫނު އަސާސީ
	section(data-background="#000080")
		h3 އިސްލާހީ ރާސްތާ
		img(src="images/2003.jpg").freeze
	section(data-background="#000080")
		img(src="images/nasheedmaumoon.jpg").freeze
	section(data-background="#008000")
		h1 2008
		h1 ފެހި ޤާނޫނު އަސާސީ
	section(data-background="#008000")
		h1 ޒަމާނީ ދިވެހިރާއްޖެއަކަށް ޒަމާނީ ކުލަވަރެއް
	section(data-background="#008000")
		h1 ޚިޔާލުފާޅުކުރުމުގެ މިނިވަންކަން
	section(data-background="#008000")
		h1 ނޫސްވެރިކަމުގެ މިނިވަންކަން
	section(data-background="#008000")
		h1 މަޢުލޫމާތު ހޯދުމާއި މަޢުލޫމާތު ދިނުމުގެ މިނިވަންކަން
	section(data-background="#008000")
		h1 ސިޔާސީ ޕާޓީތަކާއި، ޖަމްޢިއްޔާތަކާއި، ޖަމާޢަތްތައް ހެދުމުގެ މިނިވަންކަން
	section(data-background="#008000")
		h1 އެއްވެ އުޅުމުގެ މިނިވަންކަން
	section(data-background="#008000")
		h1 ހަޅުތާލަ ކުރުމުގެ ޙައްޤު
	section(data-background="#008000")
		h1 ނަމާއި އަބުރު ރައްކާތެރި ކުރުމުގެ
	section(data-background="#008000")
		h1 ތިން ބާރު ވަކިވުން
	section(data-background="#008000")
		h1 ޤާނޫނު ހެދުމުގެ ބާރު 
		img(src="images/70.png").freeze		
	section(data-background="#008000")
		h1 ޤާނޫނު އަސާސީގެ 23 ވަނަ މާއްދާ
		img(src="images/23.png").freeze
	section(data-background="#008000")
		h3 ‫ރަނގ ަޅ ު ކާނ ާއ ާއި ‪ ،‬ސާފ ު ފެނ ް ފުދ ޭ މި ންވަރަށ ް ލި ބުނ ް‪‬‬
	section(data-background="#008000")
		h3 ފޭރާމާއި ހިޔާވަހިކަން ލިބުން
	section(data-background="#008000")
		h3 ރަނގަޅުފެންވަރުގެ ޞިއްޙީ ޚިދުމަތްތައް ލިބުން
	section(data-background="#008000")
		h3 ދިރިއުޅޭނޭ ސާފު އަދި ޞިއްޚަތަށް ރަނގަޅު މާޙައުލެއް ލިބުން
	section(data-background="#008000")
		h3 ދިވެހިރާއްޖޭގެ ޠަބީޢީ މުއްސަނދިކަމާއި، ދަތުރުފަތުރު ކުރުމުގެ ވަސީލަަތްތަކާއި، ދައުލަތުގެ ޚަބަރު ފަތުރާ ވަސީލަތްތަކާއި، ހުރިހާބާވަތެއްގެ މުއާޞަލާތީ ޚިދުމަތްތައް ހަމަހަމަކަމާއެކު ބޭނުން ކުރުމުގެ ފުރުޞަތު ލިބުން
	section(data-background="#008000")
		h3 މީހުން ދިރިއުޅޭ ކޮންމެ ރަށެއްގައިވެސް އެ ރަށަކާ އެކަށީގެންވާ މިންވަރުގެ ނަރުދަމާ ނިޒާމެއް ޤާއިމްވެފައިއޮތުން
	section(data-background="#008000")
		h3 މީހުން ދިރިއުޅޭ ކޮންމެ ރަށެއްގައިވެސް އެ ރަށަކާ އެކަށީގެންވާ މިންވަރުގެ ކަރަންޓުގެ ޚިދުމަތް ޤާއިމްވެފައިއޮތުން
	section(data-background="#008000")
		h1 ޤައުމީ ފެންވަރުގައި އަޅުގަނޑުގެ މަސައްކަތް
	section(data-background="#008000")
		h1 ފަނޑިޔާރުގެ އިސްލާހު ކުރަން މަސައްކަތް ކުރުން
	section(data-background="#008000")
		h1 ރައްޔިތުންނަށް ބޭނުންވަނީ ކޮންކަހަލަ ޤާނޫނުތަކެއް؟
	section(data-background="#008000")
		h3 ނުފިރުކޭ ޤާނޫނުތައް
		img(src="images/smoking.jpg").freeze
	section(data-background="#008000")
		h1 ދާއިރާގެ ފެންވަރުގައި އަޅުގަނޑުގެ މަސައްކަތް
	section(data-background="#008000")
		h3 ޖުހާގެ މޮހޮރު
		img(src="images/juha.jpg").freeze
	section(data-background="#008000")
		h1 ބޭކާރު ވަޢުދު ނުވުން
	section(data-background="#008000")
		h3 ސިންގަޕޫރު ހުވަފެން
		img(src="images/singapore.jpg").freeze
	section(data-background="#008000")
		h1 މި ދާއިރާގެ ރަށްތަކުގެ މަސްލަހަތު ހިމެނޭ ބިލްތަށް ހުށަހެޅުން
	section(data-background="#008000")
		h1 ދާއިރާގެ ފެންވަރުގައި އަޅުގަނޑުގެ މަސައްކަތް
	section(data-background="#008000")
		h1 ޅަފަތުގެ ތަޢުލީމް
	section(data-background="#008000")
		h1 ބޭންކިންގެ ދަތިތައް
	section(data-background="#008000")
		h1 ބޯހިޔާވަހިކަމުގެ ދަތިތައް
	section(data-background="#008000")
		h1 ސަރުކާރަށް ރައްޔިތުންގެ މަސްލަހަތު ހިމެނޭ ކަންކަމުގައި ފުރިހަމަޔަށް އެއްބާރުލުން ދިނުން
	section(data-background="#008000")
		h1 ޒަރޫރީ ވަޞީީލަތްތަށް ޤާއިމް ކުރަން މަސައްކަތް ކުރުން
	section
		h1 ކުރިމަގު
	section
		h3
			span ހަމަކަށަވަރުން، ބަޔަކުމީހުންގެ حالة އެބަޔަކު އަމިއްލަޔަށް ބަދަލުކޮށްފުމަށްދާނދެން، اللَّه، އެ حالة ބަދަލެއް ނުކުރައްވާނެތެވެ
			div(style="text-align:right") 13:11