doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		title MUA2014
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
		link(rel='stylesheet', href='css/reveal.min.css')
		link#theme(rel='stylesheet', href='css/theme/default.css')
		link(rel='stylesheet', href='lib/css/zenburn.css')
		style @font-face {	font-family: 'Mv Eamaan XP';	src: url('http://www.sun.mv/css/MvEamaanXP.ttf') format('truetype');} h1,.reveal h1{line-height: 169px;text-shadow: 3px 3px 15px rgba(0, 0, 0, .3);}
		style .freeze{background:none !important;border:none !important;box-shadow:none !important;}
		style h3{display: inline-block;padding: 20px !important;background: rgb(0, 169, 184);color: white;line-height:1.5em !important;}
	body
		div.reveal
			div.slides
				block slides
		script(src='lib/js/head.min.js')
		script(src='js/reveal.min.js')
		script(src='js/web.js')

